/* styles.css */
html{background: #2A7B9B;
background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgb(179, 255, 218) 100%);}

pre {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 200;
  font-style: bold;
  color:rgb(0, 10, 26);
}

div {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

pre2 {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align:center;
  color:rgb(255, 255, 255)
}

h1 {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  color:rgb(255, 72, 0);
  font-size: 5em;
}

.class1 {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 400;
  font-style: bold;
  color:rgb(255, 255, 255);
  font-size: 2em;
}
.class2 {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: bold;
  color:rgb(255, 255, 255);
  font-size: 2em;
}
