/* styles.css */
html{background: #2A7B9B;
background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);}

pre {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
  color:white;
}

.saira-semi-condensed-extralight {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.saira-semi-condensed-light {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}

div {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.saira-semi-condensed-semibold {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

h1 {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  color:hotpink;
  font-size: 5em;
}

.saira-semi-condensed-extrabold {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.saira-semi-condensed-black {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 900;
  font-style: normal;
}

